#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid black;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
    input[type="submit"]:hover {
      background-color: #45a049;
    }

/* Navigation */
nav{
    float: right;
    margin: 0;
    overflow:hidden;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav > ul > li:hover{
    background-color: #fff;
}

nav > ul > li > a{
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
}

.web-name{
    color: #aaa;
    line-height: 3em;
    text-decoration: none;
}

.logo-img{
    float: left;
    position: relative;
    margin: 15px 5px 15px 10px;
}
.bg-div{
   background:#333;
   overflow: hidden;
}

body{
    margin: auto;
}

 /*=====================================
      PRELOADER STYLES 
        ===================================*/
        #pre-div {
            background-color: #fff;
            bottom: 0;
            height: 100%;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 10000;
        }
        #loader {
            background-image: url("../img/gympreloader.gif");
            background-position: center center;
            background-repeat: no-repeat;
            height: 200px;
            left: 50%;
            margin: -100px 0 0 -100px;
            position: absolute;
            top: 50%;
            width: 200px;
        }