{% extends 'base.html'%}
{% block head %}
<title>Attendance</title>
<link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/2936/2936886.png" type="image/x-icon">
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block body %}
<div class="bg-div">
    <a class="logo-img" href="{{url_for('index')}}"><img height="18" weight="20"  src="https://cdn-icons-png.flaticon.com/128/2936/2936886.png" alt="icon"></a>
    <a class="web-name" href="{{url_for('index')}}">Fit360</a> 
    <nav>
        <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('index')}}">Membership</a></li>
            <li><a href="{{url_for('index')}}">Profile</a></li>
            <li><a href="{{url_for('index')}}">Attendance</a></li>
            <li>{% block y %}
                {% if session.username %}
                    <a href="/logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a>
                {% endif %}
                {% endblock %}</li>
            <li>{% block z %}
                {% if session.username %}
                    <a href="/profile">Profile</a>
                {% else %}
                    <a href="/signup">Become a Member</a>
                {% endif %}
                {% endblock %}</li>
        </ul>
    </nav>
{% endblock %}