{% extends base.html%}
{% block head %}
<title>Gym Management</title>
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block body %}
<div class="bg-div">
    <a class="logo-img" href="{{url_for('index')}}"><img height="18" weight="20"  src="https://cdn-icons-png.flaticon.com/128/2936/2936886.png" alt="icon"></a>
    <a class="web-name" href="{{url_for('index')}}">Fit360</a> 
    <nav>
        <ul>
<li><a href="{{url_for('index')}}">Home</a></li>
<li><a href="{{url_for('education')}}">Membership</a></li>
<li><a href="{{url_for('volunteer')}}">Profile</a></li>
<li><a href="{{url_for('contact')}}">Attendance</a></li>
<li>{% block y %}
    {% if session.username %}
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}
    {% endblock %}</li>
<li><a href="{{url_for('signup')}}">Become a member</a></li>
</ul>
</nav>
</div>
{% endblock %}